.pCircle {
  width: 200px;
  height: 200px;
  border-radius: 50px;
  background-color: #fff;
  position: absolute;
}

.pImg {
  height: 75%;
  z-index: 2;
}

.pInfo {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.pInfo:hover {
  opacity: 1;
}

.pIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  transition: all 0.5s ease;
}

.pIcon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}
